.d-flex{
    align-items: center;
}
#order-online-link{
    color: #7c7c7d;
}
#menu-link{
    color: black;
}
.bg-pizza {
    background-image:url("../img/pizza.png");
    background-size: cover;
}
#pizza-text{
    padding: 0;
}
.jumbotron {
    display:flex;
    align-items: center;
}
h1 {
    background-color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-link{
    display:flex;
    flex-direction: row;
}

.card-footer{
    overflow: scroll;
}