/*CSS variables*/
:root {
    --bg-success: #cff3da;
    --text-success: #3a8a5b;
}


body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
div {
    margin: 7px;
    padding: .3em;
    width: 50%;
    border: 1px solid #dadada;
    border-radius: 10px;
}
.message-info{
    color:#4c47a2;
    background-color: #cddeff;
}
.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);
}
.message-warning {
    color: #a09032;
    background-color: #fcfbc9;
}
.message-error {
    color: #9f455a;
    background-color: #fad3d7;
}