

h1, h2, h3 {
    color: #9f0411; /* single line comment */
    text-decoration: underline;
}

body{
    background-color: lightgray;
    background-image: url(../img/30x30.svg);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

ul {
    list-style: square inside;
}

ol{
    list-style-position: inside;
}

table, th, td{
    border-spacing: 1px;
    font-family: Georgia, serif;
    border: 2px solid black;
}
.centerTable{
    margin-left: auto;
    margin-right: auto;
}
a:link{
    color:red;
}
a:visited{
    color:yellow;
}
a:hover{
    color:blue;
}
a:active{
    color:hotpink;
}